<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        
    
    <h1>Welcome to the main page</h1>
    <a href="/users/sign-out" id="signout">sign-out!</a>
    <a href="/users/reset" id="reset">reset password</a>
</body>
</html>
<title>
    <%= title %>
 </title>
