<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<link rel="stylesheet" href="/css/reset.css">
    </head>
    <body>
        <div class="box">
        <form action="/users/update" method="Post">
            <span class="text-center">Reset Password</span>
            
            <div class="input-container">
            <input type="password" name="curr_password" id="curr_password">
            <label for="curr_password">Current Password</label>
        </div>
         <div class="input-container">
            <input type="password" name="new_password" id="new_password">
            <label for="new_password">new password</label>
        </div> <div class="input-container">
            <input type="password" name="C_password" id="C_password">
            <label for="C_password">Confirm Password</label>
        </div>
            <input type="submit" name="submit" class="btn">
        </form>
        <script>
            <% if(flash.success && flash.success.length>0){%>
    new Noty({

    text: '<%= flash.success %>',
    type: 'success',
    layout: 'topRight',
    timeout:1500 
}).show();
               
                <% } %>
                <% if(flash.error && flash.error.length>0){%>
    new Noty({

    text: '<%= flash.error %>',
    type: 'error',
    layout: 'topRight',
    timeout:1500 
}).show();
               
                <% } %>
           </script>
    </body>
</html>
