<html>
    <head>
<link rel="stylesheet" href="/css/reset.css">
    </head>
    <body>
        <div class="box">
        <form action="/users/update" method="Post">
            <span class="text-center">Reset Password</span>
            
            <div class="input-container">
            <input type="password" name="curr_password" id="curr_password">
            <label for="curr_password">new password</label>
        </div>
         <div class="input-container">
            <input type="password" name="new_password" id="new_password">
            <label for="new_password">new password</label>
        </div> <div class="input-container">
            <input type="password" name="C_password" id="C_password">
            <label for="C_password">Confirm Password</label>
        </div>
            <input type="submit" name="submit" class="btn">
        </form>
    </body>
</html>